/* SignUpLogInPage formating

.signup-login-choice{
    margin-top: 91px;
}

.signup-login-choice-container{
    background-color: #ECF6FF;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 367px;
    padding: 0 64px;
}

.signup-login-choice-image img{
    width: 100%;
    border-radius: 15px;
}

.signup-login-choice-image{
    width: 38%;
}

.signup-login-choice-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

.signup-login-choice-content .signup-login-choice-title h2{
    font-size: 40px;
    font-weight: 400;
    margin: 5px 0;
}

.signup-login-choice-content .signup-login-choice-question p{
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
}

.signup-login-choice-content .signup-login-choice-buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.signup-login-choice-content .signup-login-choice-buttons a{
    display: flex;
    width: 142px;
    height: 41px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #73CDC2;
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
} */

/* Registration page

.registration-page {
    width: 100%;
}

.registration-page-wrap{
    display: flex;
    background-color: #ECF6FF !important;
    border: 2px solid #000;
    border-radius: 15px;
    position: relative;
    margin: 10% 31%;
    width: 40%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-page-container{
    padding: 30px 0;
    width: 80%;
}

.registration-page-wrap h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.registration-page-wrap form p {
    font-size: 19px;
    font-weight: 400;
}

.registration-page-wrap form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-page-wrap form div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}

.registration-page-wrap form .input-container{
    height: 45px;
}

.registration-page-wrap form div button{
    width: 100%;
    outline: none;
    height: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #73CDC2;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
}

.registration-page-wrap form div select{
    width: 100%;
    outline: none;
    height: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #B8D0FE;
    padding-left: 20px;
    font-size: 18px;
}


.registration-page-wrap form .input-container input{
    width: 99.7%;
    outline: none;
    height: 100%;
    padding-left: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #B8D0FE;
    font-size: 18px;
}

.registration-page-wrap form .input-container input::placeholder{
    font-size: 18px;
}

.registration-page-wrap .change-option{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.registration-page-wrap .change-option a {
    text-decoration: none;
    color: #7397DB;
}

.registration-page-wrap .change-option a:hover {
    text-decoration: underline;
} */

/* Log In page

.signin-page {
    width: 100%;
}

.signin-page-wrap {
    display: flex;
    background-color: #ECF6FF !important;
    border: 2px solid #000;
    border-radius: 15px;
    position: relative;
    margin: 10% 31%;
    width: 40%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-page-container {
    padding: 30px 0;
    width: 80%;
}

.signin-page-wrap h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.signin-page-wrap form p {
    font-size: 19px;
    font-weight: 400;
}

.signin-page-wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin-page-wrap form div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0;
}

.signin-page-wrap form .input-container {
    height: 45px;
}

.signin-page-wrap form div button {
    width: 100%;
    outline: none;
    height: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #73CDC2;
    cursor: pointer;
    font-size: 22px;
    font-weight: 400;
    transition: .5s ease-out;
}

.signin-page-wrap form div button:hover{
    background-color: #3AAC9F;
}

.signin-page-wrap form div select {
    width: 100%;
    outline: none;
    height: 100%;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #B8D0FE;
    padding-left: 20px;
    font-size: 18px;
}


.signin-page-wrap form .input-container input {
    width: 99.7%;
    outline: none;
    height: 100%;
    padding-left: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #B8D0FE;
    font-size: 18px;
}

.signin-page-wrap form .input-container input::placeholder {
    font-size: 18px;
    color: #7397DB;
}

.signin-page-wrap .change-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #000;
}

.signin-page-wrap .change-option a {
    text-decoration: none;
    color: #7397DB;
}

.signin-page-wrap .change-option a:hover {
    text-decoration: underline;
} */

/* Footer

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #B8D0FE;
    border-top: 2px solid #000;
    padding: 16px 0;
}

.footer-container p{
    font-size: 20px;
    font-weight: 400;
} */

/* Registration pop-up

#pop-up{
    position: relative;
    width: 575px;
    height: 400px;
    top: 30%;
    left: 34%;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #ECF6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pop-up .pop-up-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
}

#pop-up .pop-up-container h2{
    font-size: 40px;
    font-weight: 400;
}

#pop-up .pop-up-container p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#pop-up .pop-up-container .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#pop-up .pop-up-container .buttons button{
    width: 100%;
    background-color: #73CDC2;
    border: 1px solid #000;
    border-radius: 15px;
    font-weight: 400;
    font-size: 22px;
    height: 46px;
    margin: 5px 0;
    cursor: pointer;
    transition: .5s ease-out;
}

#pop-up .pop-up-container .buttons button:hover {
    background-color: #3AAC9F;
} */

/* Profile Button

.profile-button{
    cursor: pointer;
    width: 50px;
}


.profile-button svg{
    width: 100%;
}

.profile-dropdown{
    display: flex;
    padding: 20px;
    position: absolute;
    top: 80px;
    right: 50px;
    gap: 20px;
    background-color: #B8D0FE;
    border: 2px solid #000;
    border-radius: 15px;
    flex-direction: column;
}

.profile-dropdown #dropdown-button{
    background-color: #73CDC2;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease-out;
}

.profile-dropdown #dropdown-button:hover {
    background-color: #3AAC9F;
}

#profileButtonToggle svg{
    background: #73CDC2;
    border-radius: 100px;
} */

/* Discover Companies


.discover-companies-header{
    margin-top: 91px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
}

.discover-companies-header-container{
    background-color: #ECF6FF;
    height: 100%;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 64px;
}

.category-lists-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
}

.category-lists{
    padding: 0 43px;
}

.category-list-card{
    width: 390px;
}

.category-list-card .title-container{
    background-color: #FEF7B8;
    border: 1px solid #000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.category-list-card .title-container{
    font-size: 23px;
}

.category-list-card .sub-categories{
    background-color: #FFFBD7;
    border: 1px solid #000;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
}

.category-list-card .sub-categories a{
    text-decoration: none;
    color: #000;
    font-size: 19px;
    padding: 5px 0;
    margin: 0 10px;
}

.category-list-card .sub-categories a:not(:last-child){
    border-bottom: 1px solid #b9b9b9 ;
}

.category-list-card .title-container svg{
    width: 42px;
} */

/* CompaniesCategoryPage

.filters-outer-container {
    overflow: hidden;
}

.filters-container{
    background-color: #FEF7B8;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 30px;
    height: fit-content;
}

.filters-container.sticky {
    position: fixed;
}

.filters-container .filter{
    margin-bottom: 20px;
}

.filters-container .filter:last-child {
    margin-bottom: 0;
}

.filters-container .filter h3{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

.filters-container .rating-filter{
    display: flex;
}

.filters-container .rating-filter button:nth-child(1){
    border-left: 2px solid #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 67px;
}

.filters-container .rating-filter button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.filters-container .rating-filter button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    background-color: #ECF6FF;
    width: 46px;
    cursor: pointer;
    border-left: transparent;
}

.filters-container .rating-filter button.active-rating-button {
    background-color: #B8D0FE;
}

.filters-container .locations-filter select{
    width: 100%;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #fff;  Fallback color if gradients are not supported 
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #B8D0FE, #B8D0FE); 
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #B8D0FE, #B8D0FE); 
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #B8D0FE, #B8D0FE); 
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #B8D0FE, #B8D0FE); 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #B8D0FE, #B8D0FE); 
    background-position: center right;
    background-repeat: no-repeat;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    height: 40px;
}

.filters-container .locations-filter{
    width: 100%;
}

.discover-companies-header-container .description{
    width: 60%;
}

.discover-companies-header-container .description p{
    font-size: 22px;
}

.company-lists{
    display: flex;
    justify-content: space-between;
    padding: 0 43px;
}

.company-list-container{
    width: 70%;
}

.company-by-category-container .no-matches p{
    font-size: 30px;
    font-weight: 500;
}

.company-by-category-card{
    background-color: #FEF7B8;
    border: 1px solid #000;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: .5s;
}

.company-by-category-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company-by-category-card .company-logo img{
    width: 100%;
    border-radius: 15px;
}

.company-by-category-card .company-logo{
    width: 120px;
}

.company-by-category-card .company-name h3 {
    font-size: 25px;
    font-weight: 700;
}

.company-by-category-card .company-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0 27px;
}

.company-by-category-card .company-info-container{
    display: flex;
    padding: 20px;
}

.company-by-category-card .company-info-container .company-rating{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;;
}

.company-by-category-card .connections{
    border-top: 1px solid #000;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-by-category-card .website a{
    text-decoration: none;
    color: #000;
}

.company-by-category-card .more-reviews a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.company-by-category-card .more-reviews a strong{
    margin-right: 5px;
}

.company-by-category-card .website a:hover{
    text-decoration: underline;
}

.company-by-category-card .more-reviews a:hover {
    text-decoration: underline;
}

.company-by-category-card .more-reviews a svg{
    width: 15px;
} */




/* 
1.4
LDD r16, Y + 1
ANDI r16, 0b00001111
STD Y + 1, r16
*/